    * {
      box-sizing: border-box;
      font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, 
      Cantarell,  'Open Sans', 'Helvetica Neue', sans-serif;
    }

    body {
      margin: 0;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: aqua;
    .box{
     display: flex;
    }}
    

    label {
      display: block;
      margin-bottom: 6px;
      font-weight: bold;
      color: black;
    }

    input {
      width: 100%;
      padding: 10px;
      margin-bottom: 18px;
      border-radius: 8px;
      border: 1px solid #ccc;
      font-size: 14px;
    }

    input:focus {
      outline: none;
      border-color: #007bff;
    }

    a {
      width: 100%;
      padding: 12px;
      background: #007bff;
      color: white;
      border: none;
      border-radius: 8px;
      font-size: 16px;
      cursor: pointer;
      text-decoration:none;
    }

    a:hover {
      background: #0056b3;
    }
  
  