    * {
      box-sizing: border-box;
      font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, 
      Cantarell,  'Open Sans', 'Helvetica Neue', sans-serif;
    }

    body {
      margin: 0;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url("Conceptual\ illustration\ created\ for\ self\ promotion\ and\ is\ uncommissioned_\ 2.jpg");
       background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed
    }
    .box{
     display: flex;
    }
    .logo{
      width:160px;
      height: 100px;
      
      }

    .login-container {
      background: transparent ;
      padding: 30px;
      width: 350px;
      border-radius: 12px;
      display:center;
      margin:30px;
      margin-left:100px;
      
    }
    .login-container h1 { text-align: center;}



    label {
      display: block;
      margin-bottom: 6px;
      font-weight: bold;
      color: black;
    }

    input {
      width: 100%;
      padding: 10px;
      margin-bottom: 18px;
      border-radius: 8px;
      border: 1px solid #ccc;
      font-size: 14px;
    }

    input:focus {
      outline: none;
      border-color: #007bff;
    }

    a {
      width: 100%;
      padding: 12px;
      background: #007bff;
      color: white;
      border: none;
      border-radius: 8px;
      font-size: 16px;
      cursor: pointer;
      text-decoration:none;
    }

    a:hover {
      background: #0056b3;
    }
  
    